In [1]:
import sqlite3

In [2]:
dbname="jobinfo"

In [3]:
conn=sqlite3.connect(dbname+".db")

In [4]:
import pandas as pd
import numpy as np

C:\Users\smart\Anaconda3\envs\workspace\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\smart\Anaconda3\envs\workspace\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\smart\Anaconda3\envs\workspace\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
  stacklevel=1)

In [5]:
df=pd.read_excel("Job_info_app.xlsx", engine = 'openpyxl')

In [6]:
df.columns

Index(['JOB Title', 'Exam conducting body', 'Minimum Qualification',
       'Salary Range', 'minimum age', 'maximum age', 'caste based allowance',
       'MODE OF EXAMINATION', 'APPLICATION FEE', 'Stages', 'PHYSICAL TEST ',
       'OFFICIAL WEBSITE', 'FIELD OF EXAM', 'ATTEMPTS', 'HANDICAPPED-ATTEMPTS',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [7]:
newname=df.rename(columns={"JOB Title":"Exam","Exam conducting body":"Organisation","Minimum Qualification":"Qualification",'Salary Range':"Salary",'minimum age':"Minage",'maximum age':"Maxage",'caste based allowance':"Allowance",'MODE OF EXAMINATION':"ExamMode","APPLICATION FEE":"Fee","Stages":"Level",'PHYSICAL TEST ':"Ptest","OFFICIAL WEBSITE":"Website","FIELD OF EXAM":"Fields","ATTEMPTS":"Attempts",'HANDICAPPED-ATTEMPTS':"Pattempts"})

In [8]:
newname.columns

Index(['Exam', 'Organisation', 'Qualification', 'Salary', 'Minage', 'Maxage',
       'Allowance', 'ExamMode', 'Fee', 'Level', 'Ptest', 'Website', 'Fields',
       'Attempts', 'Pattempts', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [9]:
newname.to_csv("exams.csv")

In [10]:
dfg=pd.read_csv("exams.csv")

In [11]:
dfg.columns

Index(['Unnamed: 0', 'Exam', 'Organisation', 'Qualification', 'Salary',
       'Minage', 'Maxage', 'Allowance', 'ExamMode', 'Fee', 'Level', 'Ptest',
       'Website', 'Fields', 'Attempts', 'Pattempts', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [12]:
dfg['Minage']=dfg['Minage'].replace("NIL",0)
dfg["Maxage"]=dfg["Maxage"].replace("NIL",0)
dfg["Maxage"]=dfg["Maxage"].replace("na",0)
dfg["Minage"]=dfg['Minage'].fillna(0)
dfg["Maxage"]=dfg["Maxage"].fillna(0)

In [13]:
dfg=dfg.drop("Unnamed: 0",1)

In [14]:
dfg.drop(columns = ['Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21'])

,Exam,Organisation,Qualification,Salary,Minage,Maxage,Allowance,ExamMode,Fee,Level,Ptest,Website,Fields,Attempts,Pattempts
0,Indian administrative Service,UPSC,Degree,"56,000-2,50,000",21,32,"General(32),OBC(35),SC/ST(37),Disabled Defence...",Offline,Rs 100,"Prelims,Descriptive,Interview",NIL,https://www.upsc.gov.in/,"Sub Divisional Officer,Divisional Commissioner...","GENERAL(6),OBC(9),SC/ST(No restriction)","General(9),OBC(9),SC/ST(No restriction)"
1,Indian Forest Service,UPSC,Degree,"60,000-2,50,000",21,30,"SC/ST(35),OBC(33),Jammu kasmir(35),Defence(35)...",Offline,Rs 100,"Prelims,Mains,Personality test",NIL,http://ifs.nic.in/,Assistant Conservator of Forests/Asst. Dy. Con...,"GENERAL(6),OBC(9),SC/ST(No restriction)","General(9),OBC(9),SC/ST(No restriction)"
2,Indian Police Service,UPSC,Degree,"60,000-2,50,001",21,32,"SC/ST(37),OBS(35),GENERAL(32)",Offline,Rs 100,"Prelims,Mains,Personality test",Yes,ips.gov.in,"Deputy Superintendent of Police,Senior Superin...","GENERAL(6),OBC(9),SC/ST(No restriction)","General(9),OBC(9),SC/ST(No restriction)"
3,Indian Railway Traffic Service,UPSC,Degree,"30,000-1,25,000",21,32,"SC/ST(37),OBC(35),GENERAL(32),DEFENCE(35),EX-S...",Offline,Rs 100,"Prelims,Descriptive,Interview",yes,http://www.irts.org.in/,"Assistant Commercial Manager,Senior Divisional...","GENERAL(6),OBC(9),SC/ST(No restriction)","General(9),OBC(9),SC/ST(No restriction)"
4,Indian Railway accounts service,UPSC,Degree,"15,000-80,000",21,32,"SC/ST(37),OBC(35),GENERAL(32),DEFENCE(35),EX-S...",Offline,Rs 100,"Prelims,Mains,Personality test",NIL,NIL,"Assistant divisional accounts officer,Division...","GENERAL(6),OBC(9),SC/ST(No restriction)","General(9),OBC(9),SC/ST(No restriction)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dfg['Maxage']

0      32
1      30
2      32
3      32
4      32
       ..
994     0
995     0
996     0
997     0
998     0
Name: Maxage, Length: 999, dtype: object

In [16]:
dfg.astype({"Minage":"int64"}).dtypes
dfg.astype({"Maxage":"int64"}).dtypes

Exam              object
Organisation      object
Qualification     object
Salary            object
Minage            object
Maxage             int64
Allowance         object
ExamMode          object
Fee               object
Level             object
Ptest             object
Website           object
Fields            object
Attempts          object
Pattempts         object
Unnamed: 15      float64
Unnamed: 16      float64
Unnamed: 17      float64
Unnamed: 18      float64
Unnamed: 19      float64
Unnamed: 20      float64
Unnamed: 21      float64
dtype: object

In [17]:
dfg.dtypes

Exam              object
Organisation      object
Qualification     object
Salary            object
Minage            object
Maxage            object
Allowance         object
ExamMode          object
Fee               object
Level             object
Ptest             object
Website           object
Fields            object
Attempts          object
Pattempts         object
Unnamed: 15      float64
Unnamed: 16      float64
Unnamed: 17      float64
Unnamed: 18      float64
Unnamed: 19      float64
Unnamed: 20      float64
Unnamed: 21      float64
dtype: object

In [18]:
dfg.dtypes

Exam              object
Organisation      object
Qualification     object
Salary            object
Minage            object
Maxage            object
Allowance         object
ExamMode          object
Fee               object
Level             object
Ptest             object
Website           object
Fields            object
Attempts          object
Pattempts         object
Unnamed: 15      float64
Unnamed: 16      float64
Unnamed: 17      float64
Unnamed: 18      float64
Unnamed: 19      float64
Unnamed: 20      float64
Unnamed: 21      float64
dtype: object

In [19]:
dfg.to_sql(name="Table1",con=conn,if_exists="append")

C:\Users\smart\Anaconda3\envs\workspace\lib\site-packages\pandas\core\generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [20]:
cns=sqlite3.connect("jobinfo.db")

In [21]:
crsc=cns.cursor()

In [22]:
crsc.execute("SELECT * FROM Table1")

In [23]:
ans=crsc.description

In [24]:
for x in ans:
  print(x)

('index', None, None, None, None, None, None)
('Exam', None, None, None, None, None, None)
('Organisation', None, None, None, None, None, None)
('Qualification', None, None, None, None, None, None)
('Salary', None, None, None, None, None, None)
('Minage', None, None, None, None, None, None)
('Maxage', None, None, None, None, None, None)
('Allowance', None, None, None, None, None, None)
('ExamMode', None, None, None, None, None, None)
('Fee', None, None, None, None, None, None)
('Level', None, None, None, None, None, None)
('Ptest', None, None, None, None, None, None)
('Website', None, None, None, None, None, None)
('Fields', None, None, None, None, None, None)
('Attempts', None, None, None, None, None, None)
('Pattempts', None, None, None, None, None, None)
('Unnamed: 15', None, None, None, None, None, None)
('Unnamed: 16', None, None, None, None, None, None)
('Unnamed: 17', None, None, None, None, None, None)
('Unnamed: 18', None, None, None, None, None, None)
('Unnamed: 19', None, None, None, None, None, None)
('Unnamed: 20', None, None, None, None, None, None)
('Unnamed: 21', None, None, None, None, None, None)